# This is a sample .gitignore file for a project
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
*.log
*.sqlite3

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# vsCode
.vscode/